.listItem{
    width: 225px;
    height: 112px;
    background-color: var(--main-color);
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    color: white;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video{
        width: 100%;
        height: 140px;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
    }

    &:hover{
        width: 325px;
        height: 300px;
        position: absolute;
        top: -150px;
        -webkit-box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.15); 
        box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.15);
        border-radius: 5px;

        img{
            height: 140px;
        }

        .link{
            text-decoration: none;
            color: white;
          }

        .itemInfo{
            display: flex;
            flex-direction: column;
            padding: 5px;

            .icons{
                display: flex;
                margin-bottom: 10px;

                .icon{
                    border: 2px solid white;
                    border-radius: 50%;
                    padding: 5px;
                    margin-right: 10px;
                    font-size: 16px;
                }
            }
            .itemInfoTop{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 600;
                color: gray;

                .limit{
                    border: 1px solid gray;
                    padding: 1px 3px;
                    margin: 0 10px;
                }
            }
            .desc{
                font-size: 13px;
                margin-bottom: 10px;
            }
            .genre{
                font-size: 14px;
                color: lightgray;
            }
        }
    }
}
