.featured{
    height: 90vh;
    position: relative;

    .category{
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;

        select{
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid white;
            color: white;
            margin-left: 20px;
            padding: 5px;
            }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info{
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: white;
        display: flex;
        flex-direction: column;

        img{
            width: 400px;
        }

        .desc{
            margin: 20px 0;
        }

        .buttons{
            display: flex;

            button{
                padding: 6px 18px;
                border-radius: 5px;
                border: none;
                display: flex;align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                margin-right: 10px;
                cursor: pointer;

                &.play{
                    background-color: white;
                    color: var(--main-color);
                }

                &.more{
                    background-color: grey;
                    color: white;
                }

                span{
                    margin-left: 2px;
                }
            }
        }
    }
}